/* Limpiamos los márgenes por defecto del navegador */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0b0d0f; /* Fondo oscuro global */
}

/* Forzamos que todo el fondo de la pantalla sea oscuro */
:root {
  background-color: #0b0d0f;
}

/* Aplicamos la fuente "Inter" que queda súper pro (si la importas en el index) */
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
}